.arrow {
    padding: 186px 0;
}

.item-wrapper {
    height: 70px;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}

.list-item {
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: font-size 0.5s;
}

.list-item::last-child {
    border: 0;
}

.list-item:hover {
    font-size: 18px;
}