@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
html {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

#board {
    float: left;
    width: calc(100% - 100px);
    text-align: center;
}

.menu {
    float: right;
    width: 100px;
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
}

.menu-item {
    vertical-align: middle;
    height: calc(100% / 3);
}

.item-wrapper {
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.list-item {
    position: relative;
    left: 0;
    animation-name: moveleft;
    animation-duration: .5s;
    height: 50px;
    width: 100%;
    font-size: 14px;
    transition: height 0.5s, width 0.5s, font-size 0.5s, position .5s;
}

.list-item::last-child {
    border: 0;
}

.list-item:hover {
    left: -10%;
    animation-name: moveleft;
    animation-duration: .5s;
    height: 100px;
    width: 120%;
    font-size: 16px;
}

@keyframes moveleft {
    from {
        left: 0;
    }
    to {
        left: -10%;
    }
}

@keyframes moveright {
    from {
        left: -10%;
    }
    to {
        left: 0;
    }
}